name: Deploy to WordPress.org
on:
  release:
    types: [published]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: WordPress Plugin Deploy
      uses: 10up/action-wordpress-plugin-deploy@stable
      env:
        WP_ORG_USERNAME: ${{ secrets.WP_ORG_USERNAME }}
        WP_ORG_PASSWORD: ${{ secrets.WP_ORG_PASSWORD }}
        SVN_USERNAME: ${{ secrets.WP_ORG_USERNAME }}
        SVN_PASSWORD: ${{ secrets.WP_ORG_PASSWORD }}
        SLUG: pedido-minimo-for-woocommerce
        ASSETS_DIR: .wordpress-org